In [4]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv(r"C:\Users\felip\OneDrive\Desktop\Estudos e Trabalhos\DSP - Data Science Project\Nível 1\Projeto 1 - Ciência de Dados\data\raw\vendas_projeto.csv")

# Exibir as primeiras linhas
df.head()

,data_venda,produto,categoria,preco,quantidade,unidade,vendedor
0,2024-01-22,Notebook,Eletronicos,4598.00,3,Shopping West-Plaza,Fernanda
1,2024-02-15,Camiseta,Roupas,49.99,10,Shopping West-Plaza,Fernanda
2,2024-12-17,Celular,Eletronicos,6699.99,7,Shopping West-Plaza,Pedro
3,2024-10-15,Cafeteira,Eletronicos,200.00,7,Jundiai,Mariana
4,2024-10-11,Camiseta,Roupas,49.99,4,Contagem,Fernanda

In [5]:
df.info() # Tipos de dados e valores nulos
df.describe () # Estatísticas básicas
df.isnull().sum() # Contar valores nulos
df.duplicated().sum() # Contar valores duplicados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data_venda  3000 non-null   object
 1   produto     3000 non-null   object
 2   categoria   3000 non-null   object
 3   preco       3000 non-null   float64
 4   quantidade  3000 non-null   int64
 5   unidade     3000 non-null   object
 6   vendedor    3000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 164.2+ KB

6

In [6]:
# Ajustar tipos de dados para data
df['data_venda'] = pd.to_datetime(df['data_venda'])

In [10]:
df.to_csv(r"C:\Users\felip\OneDrive\Desktop\Estudos e Trabalhos\DSP - Data Science Project\Nível 1\Projeto 1 - Ciência de Dados\data\processed\dataset_limpo.csv", index = False)